API_BASE_URL=
ALLOW_SIMULATOR_HEADSET_BYPASS=false
ANDROID_CLIENT_ID=
IOS_CLIENT_ID=
STRIPE_PUBLISHABLE_KEY=
EXPO_PUBLIC_POSTHOG_API_KEY=
EXPO_PUBLIC_POSTHOG_HOST=https://eu.posthog.com
SENTRY_AUTH_TOKEN=